@media only screen and (max-width: 480px){
    header a h1 {
        font-size: 20px;
        color: white;
        font-weight: bold;
    }
    header {
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 210px;
    }
    nav {
        max-height: 0;
        overflow: hidden;
        align-items: center;
        /* justify-content: space-around; */
        flex-direction: column;
        display: flex;
        gap: -10px;
        padding-top: 140px;
        transition: .5s;
        /* display: grid; */
    }
   

    nav.active{
        
            max-height: 500px;
            
        
    }
    .burger_menu img{
        width: 50px;
        height: 50px;
        cursor: pointer;
        visibility: visible;
        
    }
    /* .map {
        margin-left: 0%;
        margin-top: -4%;
    } */
    iframe {
        margin-top: 66%;
        /* margin-left: 10%; */
        margin-left: -80%;
        width: 176%;
        height: 393px;
    }
    .arrow.left {
        left: 52%;
        margin-top: 150px;
        border: 1px solid white;
        width: 30px;
        text-align: center;
        background-color: white;
    }
    .arrow.right {
        right: 32%;
        margin-top: 150px;
        border: 1px solid white;
        width: 30px;
        text-align: center;
        background-color: white;
    }
    footer {
        padding-bottom: 50px;
        padding-top: 50px;
        background-color: black;
        color: white;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .footer_nav {
        margin-top: -24%;
        margin-left: -4%;
        max-height: 289px;
        display: flex;
        flex-direction: column;
    }
    .footer_about h2{
        text-align: center;
    }
    .footer_about p{
        text-align: center;
    }
    .footer_menu h2{
        text-align: center;
    }
    .footer_useful_link h2{
        text-align: center;
    }
    .footer_useful_link p{
        text-align: center;
    }
    .footer_contact_us h2{
        text-align: center;
    }
    .footer_contact_us a{
        margin-left: 35%;
    }
    .about_us img {
        width: 22%;
        margin-left: 55%;
        margin-top: -30%;
    }
    .contact_forms form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 93%;
        padding-left: 50px;
        padding-top: 50px;
    }
    .our_gallery .img_conteiner .our_gallery_imgs{
        width: 40%;
        height: 400px;
        
    }
}



@media only screen and (max-width: 768px){
    header a h1 {
        font-size: 25px;
        color: white;
        font-weight: bold;
    }
    header {
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 210px;
    }
    .burger_menu img{
        width: 50px;
        height: 50px;
        cursor: pointer;
        visibility: visible;
        
    }
    nav {
        max-height: 0;
        overflow: hidden;
        align-items: center;
        /* justify-content: space-around; */
        flex-direction: column;
        display: flex;
        gap: -10px;
        padding-top: 140px;
        transition: .5s;
        /* display: grid; */
    }
    nav.active{
        max-height: 500px; 
    }
    .arrow.right {
        right: 25%;
        margin-top: 150px;
        border: 1px solid white;
        width: 30px;
        text-align: center;
        background-color: white;
    }
    .arrow.left {
        left: 63%;
        margin-top: 150px;
        border: 1px solid white;
        width: 30px;
        text-align: center;
        background-color: white;
    }
    .about_us img {
        width: 26%;
        margin-left: 55%;
        margin-top: -13%;
    }
    .our_gallery button {
        color: white;
        background-color: black;
        border: 1px solid black;
        width: 150px;
        height: 50px;
        margin-top: 4%;
        margin-left: 40%;
        cursor: pointer;
    }
    .slider1 section h3 {
        margin-top: 10%;
        color: orangered;
        font-size: 30px;
        font-weight: bold;
    }
    .slider1 section p {
        max-width: 90%;
    }
    /* .map {
        margin-left: 0%;
        margin-top: -3%;
    } */
    iframe {
        margin-left: -81%;
        margin-top: 68%;
        width: 179%;
        height: 400px;
    }
    .contact_forms form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 85%;
        padding-left: 50px;
        padding-top: 50px;
    }
    .footer_nav {
        margin-top: -144px;
        margin-left: -4%;
        max-height: 289px;
        display: flex;
        flex-direction: column;
    }
}


@media only screen and (max-width: 1024px){
    .arrow.left {
        left: 47%;
        margin-top: 150px;
        border: 1px solid white;
        width: 30px;
        text-align: center;
        background-color: white;
    }
    .arrow.right {
        right: 44%;
        margin-top: 150px;
        border: 1px solid white;
        width: 30px;
        text-align: center;
        background-color: white;
    }
    .about_us img {
        width: 35%;
        margin-left: 62%;
        margin-top: -30%;
    }
    /* .map {
        margin-left: 45%;
        margin-top: -40%;
    } */
    iframe {
        margin-left: -81%;
        margin-top: 68%;
        width: 179%;
        height: 400px;
    }
}



@media only screen and (max-width: 1200px){
    iframe {
        margin-left: -81%;
        margin-top: 68%;
        width: 179%;
        height: 400px;
    }
    
}



@media only screen and (max-width: 1366px){
    iframe {
        margin-left: -81%;
        margin-top: 68%;
        width: 179%;
        height: 400px;
    }
    
}


@media only screen and (max-width: 1440px){
    iframe {
        margin-left: -81%;
        margin-top: 68%;
        width: 179%;
        height: 400px;
    }
    
    
}

@media only screen and (max-width: 1800px){
.contact_us h2 {
    margin-left: 10%;
    position: absolute;
    color: orangered;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-top: -72px;
}
    .contact_us .contact_forms {
    width: 106%;
    margin-top: 99px;
    background-image: url(img/img-9.png);
    height: 481px;
    background-repeat: no-repeat;
}





}













    





